<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Añadir Editoriales</title>
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
<h2>Añadir Editorial</h2>
	<div class="col-md-2" style="padding:30px">
	<form th:object="${editorial}" th:action="@{guardarEditoriales}" action="#" method="post">
		<label for="nombre">Nombre:</label>
    	<input type="text" id="nombre" th:field="*{nombre}" /><br/>
    	<label for="telefono">Teléfono:</label>
    	<input type="text" id="telefono" th:field="*{telefono}" /><br/>
    	<label for="correo">Correo:</label>
    	<input type="text" id="correo" th:field="*{correo}" /><br/>
    	<label for="direccionPostal">Dirección Postal:</label>
    	<input type="text" id="direccionPostal" th:field="*{direccionPostal}" /><br/>
    	<label for="identificacion">Identificación Postal:</label>
    	<input type="text" id="identificacion" th:field="*{identificacion}" /><br/>
    	
    	<div style="padding:30px 0px">
        <input type="submit" value="Añadir" class="btn btn-success"></input>
        </div>
        
    </form>
</div>
</body>
</html>
