<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Editar Libros</title>
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>

  <div id="header"></div>
	<div class="col-md-10 col-md-offset-1">
		<div class="row text-center title-border title">
			<FONT FACE="small fonts" COLOR="red"><h1>Editorial</h1></FONT>
		</div>
	</div>
  <div class="col-md-10 col-md-offset-1 letra2">
  
	    <h2><u>Modificar Libro</u></h2>
	    <div class="row text-center header-space letra2">
	    <table border="0" class="main-table back2" align="center">
			<form class="libro" th:object="$(libro)" th:action ="@modificar">
			<tr>
            <th><label for="autor">Autor: </label></th>
            <td height="40"><input class="title" name="autor" th:value="${libro.autor}" type="text"/></td>
          </tr>
          
          <tr>
	            <th><label for="titulo">Titulo: </label></th>
	            <td height="40"><input class="title" name="titulo" th:value="${libro.titulo}" type="text"/></td>
         	 </tr>
         	 
			<tr>
                <th><label for="anno">Anno: </label></th>
                <td height="40"><input class="title" name="Anno" th:value="${libro.anno}" type="number" minlength='2' maxlength ='4'/></td>
             </tr>
             
             <tr>
                <th><label for="numeroDePaginas">Numero de paginas: </label></th>
                <td height="40"><input class="title" name="NumeroDePaginas" th:value="${libro.numeroDePaginas}" type="number"/></td>
              </tr> 
              
              <tr>
                <th><label for="isbn">ISBN: </label></th>
                <td height="40"><input class="title" name="isbn" th:value="${libro.ISBN}" type="text"/></td>
              </tr>

              <tr>
                <th><label for="precio">Precio: </label></th>
                <td height="40"><input class="title" name="precio" th:value="${libro.precio}" type="number"/></td>
              </tr>
              
    <td></td><td height="40"><input name="id" type="hidden" th:value="${libro.idLibro}"/><input class="btn btn-default" type="submit" value="Modificar" name = 'Modificar Libro'/></td>
        
			</form>
			</table>
	</div>	
		</div>
  
</body>
</html>
