<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Editar Editoriales</title>
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body> 
	
	 <h1>Modificar Editorial</h1>
          <form class="editorial" th:object="$(editorial)" th:action ="@modificar">	
		  
	      <label for="nombre">Nombre</label>
		    <input type="text" class="form-control" id="nombre" th:field="*{editorial.nombre}"/>
			 
	      <label for="telefono">Telefono</label>
		    <input type="text" class="form-control" id="telefono" th:field="*{editorial.telefono}"  minlength="9" maxlength="10" required="true"/>
			 
       	      <label for="Correo">Correo</label>
		    <input type="text" class="form-control" id="correo" th:field="*{editorial.correo}" required="true"/>
             
	      <label for="direccionPostal">Direccion Postal</label>
		    <input type="text" class="form-control" id="direccionPostal" th:field="*{editorial.direccionPostal}" required="true"/>
              
              <label for="identificacion">Identificacion</label>
		    <input type="text" class="form-control" id="identificacion" th:field="*{editorial.identificacion}" required="true"/>
			
    	          <div style="padding-top:20px">
		      <input type="submit" value="Modificar" class="btn btn-success"></input>
		   </div>
		   
	  </form>	
</body>
</html>
