<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Editar Libros</title>
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>

	   <h1>Modificar Libro</h1>
		
      <form class="libro" th:object="$(libro)" th:action ="@modificar">
		  
         <label for="autor">Autor</label>
            <input type="text" class="form-control" id="autor" th:field="*{libro.autor}" required="true"/>
		
	 <label for="titulo">Titulo</label>
	    <input type="text" class="form-control" id="titulo" th:field="*{libro.titulo}" required="true"/>
	   
	<label for="editorial">Editorial</label>
	       <select id="idEditorial" th:field="*{editorial}" class="form-control">
		 <option th:each="editorial: ${editorial}" th:value="${editorial.nombre}" th:text="${editorial.nombre}"></option>
    	       </select>
         	 
	 <label for="anno">Anno</label>
	    <input type="number" class="form-control" id="anno" th:field="*{libro.anno}" maxlength="4" required="true"/>
         
         <label for="numeroDePaginas">Numero de paginas</label>
	    <input type="number" class="form-control" id="numeroDePaginas" th:field="*{libro.numeroDePaginas}" required="true"/>
              
	 <label for="ISBN">ISBN</label>
	    <input type="text" class="form-control" id="ISBN" th:field="*{libro.ISBN}" required="true"/>
		
	  <label for="precio">Precio</label>
	    <input type="number" class="form-control" id="Precio" th:field="*{libro.precio}" required="true"/>
              
          <label for="categoria">Categoria</label>
	     <select id="categoria" th:field="*{categoria}" class="form-control">
		<option th:each="categoria: ${categoria}" th:value="${categoria.idCategoria}" th:text="${categoria.tipo}"></option>
    	      </select>
															 
	<div style="padding-top:20px">
	     <input type="submit" value="modificarLibro" class="btn btn-success"></input>
        </div>
        														 
      </form>	
  
</body>
</html>
